
@font-face {
    font-family: 'en-font';
    src: url(font/english/KonkhmerSleokchher-Regular.ttf);
}

:root
{
    --color1: #9a03ff;
    --color2: #4c00ff;
    --color3: #f72585;
    --color4: #05c205;
    --color5: #E6E6FA;
    --color6: #ffffff;
}

*
{
    font-family: 'en-font';
    text-decoration: none;
    list-style: none;
    color: rgb(86, 83, 83);
}

body
{
    background: linear-gradient(to top right , var(--color1) , var(--color2) );
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.img-responsive
{
    width: 100%;
}


.login-form
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color6);
    width: 800px;
    height: 600px;
    border-radius: 40px;
}


.login-form .header
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--color6); */
    width: 40%;
    /* background-color: red; */
}



.login-form .header div
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color5);
    border-radius: 2000px;
    padding: 30px;
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


.login-form .body
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}


.login-form .body form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    width: 60%;
}



.login-form .body form div
{
   width: 100%;
   background-color: var(--color5);
   margin: 10px;
   border-radius: 2200px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   padding: 10px 0;
}

.login-form .body form div i
{
  margin: 0 15px;

}

.login-form .body form div input
{
   width: 100%;
   outline: none;
   border: none;
   background-color: transparent;

}

.login-form .body form div input:focus .input-con
{
    outline: 3px solid var(--color4);
}

{
   width: 100%;
   outline: none;
   border: none;
   background-color: transparent;

}




.login-form .body form div:nth-of-type(3)
{
  background-color: var(--color4);
  vertical-align: 100px;
}
 
.login-form .body form div:nth-of-type(3) input
{
  background-color: var(--color4);
  vertical-align: 100px;
  color: var(--color6);
}

 

.login-form .body form a
{
    color: var(--color4);
}




@media only screen and (max-width:768px)
{
.login-form
{
    flex-direction: column;
}

.login-form .body
{
    width: 100%;
}

.login-form .body form
{
    width: 70%;
}

.login-form .header
{
    width: 40%;
}
}


@media only screen and (max-width:430px)
{

.login-form .body
{
    width: 100%;
}

.login-form .body form
{
    width: 90%;
}

.login-form .header div
{
    padding: 30px;
}

p,a 
{
font-size: 15px;
}
}
 
